
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	min-height: 50vh; /* 50% of the viewport height */
}

.item {
  margin: auto;
}
